<!-- Наталія Ковшар -->
<section id="catalog" class="catalog-section">
  <div class="container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list list">
      <li class="catalog-item">
        <svg class="heart-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-heart"></use>
        </svg>
        <a href="" class="catalog-link link">
          <div class="catalog-thumb">
            <img
              srcset="./img/catalog/watch1-2x.jpg 2x"
              src="./img/catalog/watch1.jpg"
              alt="Watch appearance"
              width="275"
              height="274"
            />

            <div class="catalog-overlay">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS & FEATURES</h3>
              <ul class="overlay-list list">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Case Colour: Steel Band</li>
                <li>Material: Metal Case</li>
                <li>Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Brand Colour: Steel</li>
              </ul>
            </div>
          </div>
          <div class="catalog-card-content">
            <p class="catalog-text text">
              Tube Watch S42 Date Steel With Black Case
            </p>
            <span class="catalog-price-text">€395</span>
          </div>
        </a>
      </li>
      <li class="catalog-item">
        <svg class="heart-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-heart"></use>
        </svg>
        <a href="" class="catalog-link link">
          <div class="catalog-thumb">
            <img
              srcset="./img/catalog/watch2-2x.jpg 2x"
              src="./img/catalog/watch2.jpg"
              alt="Watch appearance"
              width="275"
              height="274"
            />
            <div class="catalog-overlay">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS & FEATURES</h3>
              <ul class="overlay-list list">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Case Colour: Steel Band</li>
                <li>Material: Metal Case</li>
                <li>Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Brand Colour: Steel</li>
              </ul>
            </div>
          </div>
          <div class="catalog-card-content">
            <p class="catalog-text text">Avondale Watch Police For Men</p>
            <span class="catalog-price-text">€800</span>
          </div>
        </a>
      </li>
      <li class="catalog-item">
        <svg class="heart-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-heart"></use>
        </svg>
        <a href="" class="catalog-link link">
          <div class="catalog-thumb">
            <img
              srcset="./img/catalog/watch3-2x.jpg 2x"
              src="./img/catalog/watch3.jpg"
              alt="Watch appearance"
              width="275"
              height="274"
            />
            <div class="catalog-overlay">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS & FEATURES</h3>
              <ul class="overlay-list list">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Case Colour: Steel Band</li>
                <li>Material: Metal Case</li>
                <li>Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Brand Colour: Steel</li>
              </ul>
            </div>
          </div>
          <div class="catalog-card-content">
            <p class="catalog-text text">
              Diver 300M Co‑Axial Master Chronometer Chronograph
            </p>
            <span class="catalog-price-text">€600</span>
          </div>
        </a>
      </li>
      <li class="catalog-item">
        <svg class="heart-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-heart"></use>
        </svg>
        <a href="" class="catalog-link link">
          <div class="catalog-thumb">
            <img
              srcset="./img/catalog/watch4-2x.jpg 2x"
              src="./img/catalog/watch4.jpg"
              alt="Watch appearance"
              width="275"
              height="274"
            />
            <div class="catalog-overlay">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS & FEATURES</h3>
              <ul class="overlay-list list">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Case Colour: Steel Band</li>
                <li>Material: Metal Case</li>
                <li>Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Brand Colour: Steel</li>
              </ul>
            </div>
          </div>
          <div class="catalog-card-content">
            <p class="catalog-text text">
              Diver 300M Co-Axial Master Chronometer
            </p>
            <span class="catalog-price-text">€1400</span>
          </div></a
        >
      </li>
      <li class="catalog-item">
        <svg class="heart-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-heart"></use>
        </svg>
        <a href="" class="catalog-link link">
          <div class="catalog-thumb">
            <img
              srcset="./img/catalog/watch5-2x.jpg 2x"
              src="./img/catalog/watch5.jpg"
              alt="Watch appearance"
              width="275"
              height="274"
            />
            <div class="catalog-overlay">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS & FEATURES</h3>
              <ul class="overlay-list list">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Case Colour: Steel Band</li>
                <li>Material: Metal Case</li>
                <li>Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Brand Colour: Steel</li>
              </ul>
            </div>
          </div>
          <div class="catalog-card-content">
            <p class="catalog-text text">Taman Watch By Police For Men</p>
            <span class="catalog-price-text">€500</span>
          </div></a
        >
      </li>

      <li class="catalog-item">
        <svg class="heart-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-heart"></use>
        </svg>
        <a href="" class="catalog-link link">
          <div class="catalog-thumb">
            <img
              srcset="./img/catalog/watch6-2x.jpg 2x"
              src="./img/catalog/watch6.jpg"
              alt="Watch appearance"
              width="275"
              height="274"
            />
            <div class="catalog-overlay">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS & FEATURES</h3>
              <ul class="overlay-list list">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Case Colour: Steel Band</li>
                <li>Material: Metal Case</li>
                <li>Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Brand Colour: Steel</li>
              </ul>
            </div>
          </div>
          <div class="catalog-card-content">
            <p class="catalog-text text">Malawi Watch Police For Men</p>
            <span class="catalog-price-text">€555</span>
          </div></a
        >
      </li>
      <li class="catalog-item">
        <svg class="heart-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-heart"></use>
        </svg>
        <a href="" class="catalog-link link">
          <div class="catalog-thumb">
            <img
              srcset="./img/catalog/watch7-2x.jpg 2x"
              src="./img/catalog/watch7.jpg"
              alt="Watch appearance"
              width="275"
              height="274"
            />
            <div class="catalog-overlay">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS & FEATURES</h3>
              <ul class="overlay-list list">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Case Colour: Steel Band</li>
                <li>Material: Metal Case</li>
                <li>Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Brand Colour: Steel</li>
              </ul>
            </div>
          </div>
          <div class="catalog-card-content">
            <p class="catalog-text text">
              Diver 300M Co-Axial Master Chronometer
            </p>
            <span class="catalog-price-text">€1200</span>
          </div></a
        >
      </li>

      <li class="catalog-item">
        <svg class="heart-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-heart"></use>
        </svg>
        <a href="" class="catalog-link link">
          <div class="catalog-thumb">
            <img
              srcset="./img/catalog/watch8-2x.jpg 2x"
              src="./img/catalog/watch8.jpg"
              alt="Watch appearance"
              width="275"
              height="274"
            />
            <div class="catalog-overlay">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS & FEATURES</h3>
              <ul class="overlay-list list">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Case Colour: Steel Band</li>
                <li>Material: Metal Case</li>
                <li>Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Brand Colour: Steel</li>
              </ul>
            </div>
          </div>
          <div class="catalog-card-content">
            <p class="catalog-text text">Greenlane Watch By Police For Men</p>
            <span class="catalog-price-text">€1000</span>
          </div></a
        >
      </li>

      <li class="catalog-item">
        <svg class="heart-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-heart"></use>
        </svg>
        <a href="" class="catalog-link link">
          <div class="catalog-thumb">
            <img
              srcset="./img/catalog/watch9-2x.jpg 2x"
              src="./img/catalog/watch9.jpg"
              alt="Watch appearance"
              width="275"
              height="274"
            />
            <div class="catalog-overlay">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS & FEATURES</h3>
              <ul class="overlay-list list">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Case Colour: Steel Band</li>
                <li>Material: Metal Case</li>
                <li>Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Brand Colour: Steel</li>
              </ul>
            </div>
          </div>
          <div class="catalog-card-content">
            <p class="catalog-text text">Squardrc 5402 Chrono</p>
            <span class="catalog-price-text">€359</span>
          </div></a
        >
      </li>
      <li class="catalog-item">
        <svg class="heart-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-heart"></use>
        </svg>
        <a href="" class="catalog-link link">
          <div class="catalog-thumb">
            <img
              srcset="./img/catalog/watch10-2x.jpg 2x"
              src="./img/catalog/watch10.jpg"
              alt="Watch appearance"
              width="275"
              height="274"
            />
            <div class="catalog-overlay">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS & FEATURES</h3>
              <ul class="overlay-list list">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Case Colour: Steel Band</li>
                <li>Material: Metal Case</li>
                <li>Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Brand Colour: Steel</li>
              </ul>
            </div>
          </div>
          <div class="catalog-card-content">
            <p class="catalog-text text">
              Diver 300M Co‑Axial Master Chronometer Chronograph
            </p>
            <span class="catalog-price-text">€400</span>
          </div></a
        >
      </li>
      <li class="catalog-item">
        <svg class="heart-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-heart"></use>
        </svg>
        <a href="" class="catalog-link link">
          <div class="catalog-thumb">
            <img
              srcset="./img/catalog/watch11-2x.jpg 2x"
              src="./img/catalog/watch11.jpg"
              alt="Watch appearance"
              width="275"
              height="274"
            />
            <div class="catalog-overlay">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS & FEATURES</h3>
              <ul class="overlay-list list">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Case Colour: Steel Band</li>
                <li>Material: Metal Case</li>
                <li>Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Brand Colour: Steel</li>
              </ul>
            </div>
          </div>
          <div class="catalog-card-content">
            <p class="catalog-text text">Citizen</p>
            <span class="catalog-price-text">€519</span>
          </div></a
        >
      </li>
      <li class="catalog-item">
        <svg class="heart-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-heart"></use>
        </svg>
        <a href="" class="catalog-link link">
          <div class="catalog-thumb">
            <img
              srcset="./img/catalog/watch12-2x.jpg 2x"
              src="./img/catalog/watch12.jpg"
              alt="Watch appearance"
              width="275"
              height="274"
            />
            <div class="catalog-overlay">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS & FEATURES</h3>
              <ul class="overlay-list list">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Case Colour: Steel Band</li>
                <li>Material: Metal Case</li>
                <li>Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Brand Colour: Steel</li>
              </ul>
            </div>
          </div>
          <div class="catalog-card-content">
            <p class="catalog-text text">Armani Exchange</p>
            <span class="catalog-price-text">€400</span>
          </div></a
        >
      </li>
    </ul>
    <button type="button" class="catalog-btn" data-modal-open>Buy now</button>
  </div>
</section>
