<!-- Денис Муратов -->
<footer class="container">
  <div class="footer-container">
    <!-- Nav-menu -->
    <div class="nav-wrap">
      <nav class="nav-footer">
        <ul>
          <li class="nav-li-footer">
            <a class="nav-link-footer" href="#about">About</a>
          </li>
          <li class="nav-li-footer">
            <a class="nav-link-footer" href="#services">Services</a>
          </li>
          <li class="nav-li-footer">
            <a class="nav-link-footer" href="#contact">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="contacts">
      <!-- Logo -->
      <div class="logo">
        <a href="./index.html"
          ><img src="./img/footer/logo.svg" alt="Logo" width="40" height="40"
        /></a>
      </div>
      <!-- Contacts -->
      <address>
        <a class="contact-tel" href="tel:+380684439426">+380 (68) 443-94-26</a>
        <a
          class="contact-adr"
          href="https://www.google.com/maps?q=1678+S.+Pioneer+Road+Salt+Lake+City+UT+84104"
          target="_blank"
          >1678 S. Pioneer Road <br />
          Salt Lake City <br />
          UT 84104</a
        >
      </address>
    </div>

    <!-- Social -->
    <ul class="social-media">
      <li>
        <a href="https://www.facebook.com" target="_blank"
          ><svg class="footer-social-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-facebook"></use></svg
        ></a>
      </li>
      <li>
        <a href="https://www.instagram.com" target="_blank"
          ><svg class="footer-social-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-instagram"></use></svg
        ></a>
      </li>
      <li>
        <a href="https://www.youtube.com" target="_blank"
          ><svg class="footer-social-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-youtube"></use></svg
        ></a>
      </li>
    </ul>

    <!-- Copiright -->
    <div class="line">
      <div class="copy">&copy; 2022 The Watch Spot. All rights reserved.</div>
      <!-- Privacy & Terms -->
      <div>
        <a class="privacy" href="/privacy-policy">Privacy Policy</a>
        <a class="privacy" href="/terms-of-service">Terms of Service</a>
      </div>
    </div>
  </div>
</footer>
