<!-- Юрій Андрущенко -->

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
/>

<body>
  <!-- ?hero -->

  <section class="hero">
    <section class="hero-container container">
      <h1 class="hero-title">Welcome to our collection of premium watches</h1>
      <div class="swiper-and-pictures">
        <div class="swiper-and-p">
          <div>
            <div
              class="swiper mySwyper swiper-initialized swiper-horizontal swiper-backface-hidden"
            >
              <div
                class="swiper-wrapper"
                id="swiper-wrapper-7dfcf3f75ba74f27"
                aria-live="polite"
                style="transform: translate3d(0px, 0px, 0px)"
              >
                <div
                  class="swiper-slide swiper-slide-active"
                  role="group"
                  aria-label="1 / 5"
                  data-swiper-slide-index="0"
                >
                  <picture>
                    <source
                      srcset="
                        ../img/hero/watch-one-mob.jpg    1x,
                        ../img/hero/watch-one-mob@2x.jpg 2x
                      "
                      type="image/jpeg"
                      media="(max-width: 767px)"
                    />
                    <source
                      srcset="
                        ../img/hero/watch-one-tab-desk.jpg    1x,
                        ../img/hero/watch-one-tab-desk@2x.jpg 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <img
                      src="../img/hero/watch-one-mob.jpg"
                      alt="type of watch one"
                      width="226"
                      height="190"
                    />
                  </picture>
                </div>
                <div
                  class="swiper-slide swiper-slide-next"
                  role="group"
                  aria-label="2 / 5"
                  data-swiper-slide-index="1"
                >
                  <picture>
                    <source
                      srcset="
                        ../img/hero/watch-two-mob.jpg    1x,
                        ../img/hero/watch-two-mob@2x.jpg 2x
                      "
                      type="image/jpeg"
                      media="(max-width: 767px)"
                    />
                    <source
                      srcset="
                        ../img/hero/watch-two-tab-desk.jpg    1x,
                        ../img/hero/watch-two-tab-desk@2x.jpg 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <img
                      src="../img/hero/watch-two-mob.jpg"
                      alt="type of watch two"
                      width="226"
                      height="190"
                    />
                  </picture>
                </div>
                <div
                  class="swiper-slide"
                  role="group"
                  aria-label="3 / 5"
                  data-swiper-slide-index="2"
                >
                  <picture>
                    <source
                      srcset="
                        ../img/hero/watch-three-mob.jpg    1x,
                        ../img/hero/watch-three-mob@2x.jpg 2x
                      "
                      type="image/jpeg"
                      media="(max-width: 767px)"
                    />
                    <source
                      srcset="
                        ../img/hero/watch-three-tab-desk.jpg    1x,
                        ../img/hero/watch-three-tab-desk@2x.jpg 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <img
                      src="../img/hero/watch-three-mob.jpg"
                      alt="type of watch three"
                      width="226"
                      height="190"
                    />
                  </picture>
                </div>
                <div
                  class="swiper-slide"
                  role="group"
                  aria-label="4 / 5"
                  data-swiper-slide-index="3"
                >
                  <picture>
                    <source
                      srcset="
                        ../img/hero/watch-four-mob.jpg    1x,
                        ../img/hero/watch-four-mob@2x.jpg 2x
                      "
                      type="image/jpeg"
                      media="(max-width: 767px)"
                    />
                    <source
                      srcset="
                        ../img/hero/watch-four-tab-desk.jpg    1x,
                        ../img/hero/watch-four-tab-desk@2x.jpg 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <img
                      src="../img/hero/watch-four-mob.jpg"
                      alt="type of watch four"
                      width="226"
                      height="190"
                    />
                  </picture>
                </div>
                <div
                  class="swiper-slide"
                  role="group"
                  aria-label="5 / 5"
                  data-swiper-slide-index="4"
                >
                  <picture>
                    <source
                      srcset="
                        ../img/hero/watch-five-mob.jpg    1x,
                        ../img/hero/watch-five-mob@2x.jpg 2x
                      "
                      type="image/jpeg"
                      media="(max-width: 767px)"
                    />
                    <source
                      srcset="
                        ../img/hero/watch-five-tab-desk.jpg    1x,
                        ../img/hero/watch-five-tab-desk@2x.jpg 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <img
                      src="../img/hero/watch-five-mob.jpg"
                      alt="type of watch five"
                      width="226"
                      height="190"
                    />
                  </picture>
                </div>
              </div>
              <span
                class="swiper-notification"
                aria-live="assertive"
                aria-atomic="true"
              ></span>
            </div>
            <div class="swiper-btn">
              <div
                class="btn-prev arrow"
                tabindex="0"
                role="button"
                aria-label="Previous slide"
                aria-controls="swiper-wrapper-7dfcf3f75ba74f27"
              >
                <svg class="hero-btn" width="18" height="18">
                  <use href="../img/icons.svg#icon-chevron-left"></use>
                </svg>
              </div>
              <div
                class="btn-next arrow"
                tabindex="0"
                role="button"
                aria-label="Next slide"
                aria-controls="swiper-wrapper-7dfcf3f75ba74f27"
              >
                <svg class="hero-btn" width="18" height="18">
                  <use href="../img/icons.svg#icon-chevron-right"></use>
                </svg>
              </div>
            </div>
          </div>
          <div class="text-container">
            <p class="hero-text">
              Our watches are not just timepieces, but also an expression of
              your personality and lifestyle. From classic designs to modern
              ones, we have a watch to suit every taste and occasion.
            </p>
          </div>
        </div>
        <picture class="hero-main-pictures">
          <source
            srcset="
              ../img/hero/hero-main-mob.jpg    1x,
              ../img/hero/hero-main-mob@2x.jpg 2x
            "
            type="image/jpeg"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ../img/hero/hero-main-tab.jpg    1x,
              ../img/hero/hero-main-tab@2x.jpg 2x
            "
            media="(max-width: 1279px)"
          />
          <source
            srcset="
              ../img/hero/hero-main-desk.jpg    1x,
              ../img/hero/hero-main-desk@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            src="../img/hero/hero-main-mob.jpg"
            alt="watch on the hand"
            width="335"
            height="410"
          />
        </picture>
      </div>
    </section>
  </section>

  <!-- ?Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <!-- ?Initialize Swiper -->
  <script>
    const swiper = new Swiper('.mySwyper', {
      slidesPerView: 1,
      spaceBetween: 10,
      loop: true,
      Keyboard: {
        enabled: true,
      },
      navigation: {
        nextEl: '.btn-next',
        prevEl: '.btn-prev',
      },
    });
  </script>
</body>
