<!-- Тимур Кайум -->
<section class="nwatch">
    <div class="container">
        <h2 class="nwatch-title">New watches</h2>
        <p class="nwatch-subtitle">Green And Bronze—The Match Made In Heaven</p>
            <div class="nwatch-img">
                <picture>
                    <source media="(min-width: 1280px)" srcset="/img/nwatch/nwatch-desk-f.jpg" type="image/jpeg">
                    <source media="(min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2)" srcset="/img/nwatch/nwatch-desk-f@2x.jpg 2x" type="image/jpeg">
                    <source media="(min-width: 768px)" srcset="/img/nwatch/nwatch-tab-f.jpg" type="image/jpeg">
                    <source media="(min-width: 768px) and (-webkit-min-device-pixel-ratio: 2)" srcset="/img/nwatch/nwatch-tab-f@2x.jpg 2x" type="image/jpeg">

                    <img src="/img/nwatch/nwatch-mob-f.jpg" alt="" class="nwatch-img-f" srcset="/img/nwatch/nwatch-mob-f@2x.jpg 2x">
                </picture>
                <picture>
                    <source media="(min-width: 1280px)" srcset="/img/nwatch/nwatch-desk-s.jpg" type="image/jpeg">
                    <source media="(min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2)" srcset="/img/nwatch/nwatch-desk-s@2x.jpg 2x" type="image/jpeg">
                    <source media="(min-width: 768px)" srcset="/img/nwatch/nwatch-tab-s.jpg" type="image/jpeg">
                    <source media="(min-width: 768px) and (-webkit-min-device-pixel-ratio: 2)" srcset="/img/nwatch/nwatch-tab-s@2x.jpg 2x" type="image/jpeg">
                    
                    
                    <img src="/img/nwatch/nwatch-mob-s.jpg" alt="" class="nwatch-img-s" srcset="/img/nwatch/nwatch-mob-s@2x.jpg 2x">
                </picture>
            </div>
    </div>  
    </section>