<!-- Іван Кривошея -->
<section id="sale" class="sale-section section">
  <div class="container">
    <h2 class="sale-titte title">Sale</h2>
    <div class="galery-conteiner">
      <div class="galery-img-container">
        <ul class="img-list">
          <li>
            <img
              class="small-img"
              srcset="./img/sale/sale-1.jpg 1x, ./img/sale/sale-1@2x.jpg 2x"
              src="./img/sale/sale-1.jpg"
              alt="watch"
            />
          </li>
          <li>
            <img
              class="small-img"
              srcset="./img/sale/sale-2.jpg 1x, ./img/sale/sale-2@2x.jpg 2x"
              src="./img/sale/sale-2.jpg"
              alt="watch"
            />
          </li>
          <li>
            <img
              class="small-img"
              srcset="./img/sale/sale-3.jpg 1x, ./img/sale/sale-3@2x.jpg 2x"
              src="./img/sale/sale-3.jpg"
              alt="watch"
            />
          </li>
          <li>
            <img
              class="small-img"
              srcset="./img/sale/sale-4.jpg 1x, ./img/sale/sale-4@2x.jpg 2x"
              src="./img/sale/sale-4.jpg"
              alt="watch"
            />
          </li>
        </ul>
        <img
          class="big-img"
          srcset="./img/sale/big-img.png 1x, ./img/sale/big-img@2x.png 2x"
          src="./img/sale/big-img.png"
          alt="watch"
        />
      </div>
      <div class="watch-description-conteiner">
        <div>
          <h3 class="watch-title">Greenlane Watch By Police For MenHT</h3>
          <p class="product-tag">Product tag: PEWJK2227003</p>
          <p class="price-p">
            <span class="sale-price">€700</span>
            <span class="price">€1000</span>
          </p>
        </div>
        <div class="description-conteiner">
          <h4 class="description-title">Description</h4>
          <p class="description-paragraph">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch features a versatile multifunction design that fits
            effortlessly into work and play. The steel case is adorned with a
            semi-transparent black dial. The timepiece exhibits a contrast
            through a black IP bracelet with matching crown and pushers.
          </p>
        </div>
        <div class="details-conteiner">
          <h4 class="details-title">DETAILS & FEATUREStion</h4>
          <p class="details-paragraph">
            Gender: man <br />
            Size: 46x54.5mm <br />
            Case Colour: Steel <br />
            Band Material: Metal <br />
            Case Material: Metal <br />
            Features: Multifunction Water <br />
            Resistant: 5 (ATM) <br />
            Band Colour: Steel
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
