/* Юрій Андрущенко  */
.hero {    
    background-color: var(--black-background, #141414);
}
.hero-container {
    padding-top: 40px;
    padding-bottom: 40px;
}
.hero-title {
    font-size: 38px;
    line-height: calc(40 / 38);
    letter-spacing: -0.04em;
    color: var(--white-background, #ffffff);
    margin-bottom: 60px;
}
.swiperswiper 
.mySwyper 
.swiper-initialized 
.swiper-horizontal 
.swiper-backface-hidden { 
    margin-left: 0;
    width: 266px;
    height: 200px; 
    background-color: var(--dark-green-background);  
}
.mySwyper {
}
.swiper-initialized {
}
.swiper-horizontal {
}
.swiper-backface-hidden {
}
.swiper-wrapper {

    margin-bottom: 20px;
}
.swiper-slide {
    width: 266px;
}
.swiper-slide-active {
}
.swiper-slide-next {
}
.swiper-notification {
}
.swiper-btn {
    display: flex;
    gap: 12px;
}
.btn-prev {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;           
    width: 32px;
    height: 32px;
}
.btn-next {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    width: 32px;
    height: 32px;
}
.text-container {
    margin-left: auto;
    margin-bottom: 40px;
    max-width: 248px;
}
.hero-text {
    font-size: 14px;
    line-height: calc(18 / 14);
    letter-spacing: -0.02em;
    color: var(--white-background, #ffffff);
}