/* Тимур Кайум */

.nwatch {
    padding: 40px 0;
}

.nwatch-title {
    font-weight: 300;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.06em;
    color: rgba(20, 20, 20, 0.4);

    margin-bottom: 8px;
}

.nwatch-subtitle {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: var(--black-background);

    margin-bottom: 40px;
}

.nwatch-img-f {
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
}

.nwatch-img-s {
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 768px) {
    
    .nwatch {
        padding: 64px 0;
    }

    .nwatch-subtitle {
        width: 448px;
        font-weight: 600;
        font-size: 40px;
        line-height: 1.1;
        letter-spacing: -0.02em;
        color: var(--dark-green-background);
    
        margin-bottom: 40px;
    }

    .nwatch-img {
        display: flex;
        gap: 20px;
    }

    .nwatch-img-f {
        margin-bottom: 0;
    }

}

@media screen and (min-width: 1280px) {

    .nwatch {
        padding-bottom: 80px;
        padding-top: 40px;
    }

    .nwatch-img {
        gap: 24px;
    }

}