/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./catalog.css');
@import url('./buy.css');
@import url('./nwatch.css');
@import url('./sale.css');
@import url('./footer.css');
@import url('./burger.css');

:root {
  --black-background: #141414;
  --dark-green-background: #1e2827;
  --white-background: #ffffff;
  --sale-text-color: rgba(20, 20, 20, 0.5);
  --cubic-besier: cubic-bezier(0.4, 0, 0.2, 1);
  --backdrop-background: rgba(30, 40, 39, 0.7);
  --input-outline: #e72604;
  --privacy-text: rgba(20, 20, 20, 0.4);
  --modal-box-shadow: 0px 0px 223px rgba(0, 0, 0, 0.05),
    0px 0px 130.6px rgba(0, 0, 0, 0.037963),
    0px 0px 71.0296px rgba(0, 0, 0, 0.0303704),
    0px 0px 36.2375px rgba(0, 0, 0, 0.025),
    0px 0px 18.1704px rgba(0, 0, 0, 0.0196296),
    0px 0px 8.77546px rgba(0, 0, 0, 0.012037);
}

/* ------------------Плавна прокрутка при навігації------------------- */
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  font-family: 'Epilogue', sans-serif;
  font-size: 14px;
  line-height: calc(18 / 14);
}
.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 744px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1216px;
  }
}
